In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
depandent=dataset['charges']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, depandent, test_size =1/3, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [37]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={
    'criterion':['squared_error','absolute_error','friedman_mse','poisson'],
    'n_estimators':[10,50,100],
    'max_features':['sqrt','log2']
}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 50, 100]},
             verbose=3)

In [39]:
table=pd.DataFrame.from_dict(grid.cv_results_)

In [41]:
table[['rank_test_score', 'mean_test_score', 'params']].sort_values('rank_test_score')

,rank_test_score,mean_test_score,params
19,1,0.802754,"{'criterion': 'poisson', 'max_features': 'sqrt..."
2,2,0.802490,"{'criterion': 'squared_error', 'max_features':..."
20,3,0.802067,"{'criterion': 'poisson', 'max_features': 'sqrt..."
8,4,0.801634,"{'criterion': 'absolute_error', 'max_features'..."
5,5,0.801430,"{'criterion': 'squared_error', 'max_features':..."
7,6,0.801171,"{'criterion': 'absolute_error', 'max_features'..."
23,7,0.800995,"{'criterion': 'poisson', 'max_features': 'log2..."
17,8,0.800186,"{'criterion': 'friedman_mse', 'max_features': ..."
13,9,0.800005,"{'criterion': 'friedman_mse', 'max_features': ..."
11,10,0.799005,"{'criterion': 'absolute_error', 'max_features'..."
1,11,0.798190,"{'criterion': 'squared_error', 'max_features':..."
14,12,0.797970,"{'criterion': 'friedman_mse', 'max_features': ..."
4,13,0.797664,"{'criterion': 'squared_error', 'max_features':..."
10,14,0.797140,"{'criterion': 'absolute_error', 'max_features'..."
16,15,0.795620,"{'criterion': 'friedman_mse', 'max_features': ..."
22,16,0.792525,"{'criterion': 'poisson', 'max_features': 'log2..."
21,17,0.787509,"{'criterion': 'poisson', 'max_features': 'log2..."
9,18,0.786028,"{'criterion': 'absolute_error', 'max_features'..."
3,19,0.785574,"{'criterion': 'squared_error', 'max_features':..."
12,20,0.783026,"{'criterion': 'friedman_mse', 'max_features': ..."
15,21,0.776588,"{'criterion': 'friedman_mse', 'max_features': ..."
18,22,0.774380,"{'criterion': 'poisson', 'max_features': 'sqrt..."
0,23,0.774105,"{'criterion': 'squared_error', 'max_features':..."
6,24,0.771922,"{'criterion': 'absolute_error', 'max_features'..."

In [43]:
age_input=float (input("Age:"))
bmi_input=float(input("BMI"))
Children_input=float(input("children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age: 45
BMI 76
children: 2
sex male 0 or 1: 1
smoker yes 0 or 1: 1

In [45]:
best_model = grid.best_estimator_

In [47]:
import pickle
filename="finalized_DecisionTreeRegressor.sav"
pickle.dump(best_model,open(filename, 'wb'))

In [49]:
loaded_model=pickle.load(open("finalized_DecisionTreeRegressor.sav",'rb'))
result = loaded_model.predict([[19,27.900,0,0,1]])
print(result)

[52307.2141406]